header {
  height: 84px;
  display: flex;
  align-items: center;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.myflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: inline-block;
}

ul {
  display: flex;
  gap: 50px;
}

li a {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.s1 {
  background-image: url("../images/greece.jpg");
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  height: 606px;
  margin-bottom: 84px;
}

.myflex2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infodiv h1 {
  color: #fff;
  font-family: Helvetica;
  font-size: 79px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.infodiv h5 {
  color: #fff;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.s2 {
  margin-bottom: 100px;
}

.myflex3 {
  display: flex;
  justify-content: space-between;
}

.infowrapper {
  width: 235px;
}

.infowrapper h4 {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 9px;
}

.infowrapper h5 {
  color: #010101;
  font-family: Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.infowrapper p {
  color: #636060;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 37px;
}

.cardwrapper {
  width: 924px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 56px;
}

.card {
  width: 286px;
}

.pic1 {
  margin-bottom: 23px;
}

.card h3 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 9px;
}

.card p {
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
